= link_to "Refresh", root_path, :class => 'brand'
%button#notification_permissions
  Set notification perms for DevStatus
%span.auto_block
  %h6 auto refresh?
  %input#auto_refresh{:type => 'checkbox', :checked => true, :onclick => 'check_refresh()'}
  %h6#refresh_label
  %h6#refresh_in
  %h6#refresh_unit
  %h6#last_refresh_status
